
.conversionSection{
    min-height: 400px;
    background-color: #e7e7e7;
    margin-bottom: 2rem;
}
.conversionSection h1{
    text-align: center;
    padding: 1rem;
}
.flag-select{
    width: 250px;
    border: 2px solid #6C757D;
    background-color: white;
    color: black;
    position: relative;
    margin-top: .5rem;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    padding: .3rem;
    display: flex;
    border-radius: 10px;
}
.flag-select:hover{
    border: 2px solid #9ed5ea;
}

.flag-select__btn{
    display: flex !important;
    align-items: center !important;
    width: 100%;
    justify-content: space-between !important;
    outline-width: 0;
}
.d-flex{
    display: flex;
    flex-direction: column;
    
}
.d-flex-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.currencyConvertor .input{
    width: 250px !important;
}
.muted{
    font-size: 12px;
    color: gray;
}
.c_label{
    display: flex;
    justify-content: space-between;
}
.mt-2{
    margin-top: 2rem !important;
}

.flag-select__option {
    white-space: pre-wrap !important;
}
.flag-select__options{
    max-height: 400px !important;
}



.flag-select__option.flag-select__option--placeholder {
    width:unset;}

 .c_details{
     margin-top: 3rem !important;
     background-color: white;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 2rem;
     border-radius: 10px;
     padding-bottom: 2rem;
     margin-right: 10px !important;
     margin-left: 10px !important;
 }   
 .currencyTable{
     max-width: 250px;
     transition: all .2s ease;
     font-size: 14px;
     
 }   
 .currencyTable h2{
     font-size: 1.1rem;
 }


 .details{
     display: flex;
 }

.muted-text{
    color: #b1b1b1;
}
.conversionSection p{
    margin-top: 2rem;
    padding-left: 20px;
    padding-left: 20px;
}
.chart{
    width: 300px !important;
    margin-left: 20px;
}
@media (max-width:619.98px){
    .d-flex-row{
        flex-direction: column;
        justify-content: unset;
        
    }
    .d-flex{
        margin:0 auto 0 auto;
    }
    .mt-2{
        margin-top: 1rem !important;
    }
    .conversionSection{
        margin-top:1rem !important;
    }
}
@media (min-width:620px){
    .c_details{
        width:520px;
    }
}