.footer{
    text-align: center;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #e1e1e1;
    padding: 15px;
    position: relative;
    bottom: 0px;
}
.footer>a{
    margin: 2px;
    text-decoration: underline;
}
.footer>a, .footer>a:hover{
    color: #424242;
}